@import "~bootstrap/scss/bootstrap";

* {
    color: rgb(33, 33, 33);
}

footer {
    height: 56px;
    background-color: #efefef;
}

footer .container {
    margin-top: 16px;
    text-align: center;
    color: #2F2929;
}

h1,
.descr {
    color: #efefef;
}

h5 {
    margin-bottom: 0;
}

h3 {
    color: #2F2929;
    margin-bottom: 2rem;
}

#bottom {
    height: 100%;
    flex: 1 0 auto;
}

#top {
    height: 216px;
    background-color: #2F2929;
}

.top-row {
    padding-top: 27px;
}

h1 {
    font-size: 36px;
}

.descr {
    font-size: 16px;
}

.example {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 14px;
    color: rgba(240, 255, 255, 0.498);
}

.error {
    font-size: 14px;
    color: rgb(207, 0, 0);
}

.no-error {
    font-size: 14px;
    color: rgb(26, 83, 13);
}

.btn {
    margin-left: 5px;
    margin-right: 12px;
    width: 160px;
    height: 39px;
    background-color: #5483C9;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    color: azure;

}

.input {
    margin-left: 12px;
    height: 39px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-style: none;
}

.btn:hover {
    background-color: #88b6fc;
}

input {
    color: #333;
    border: none;
}

.flex {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 6px;
}

.bottom-row {
    color: #333;
    font-size: 24px;
}

.invalid {
    border: 2px solid rgb(255, 0, 0);
}

#posts-container,
#feeds-container {
    flex-direction: column;
}

#posts-container {
    width: 70%;
    min-width: 500px;
}

#feeds-container {
    width: 30%;
}

a,
.text {
    font-size: medium;
}

.text {
    color: rgb(116, 114, 114);
}

a {
    line-height: 1;
}

.post-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn-watch {
    flex-shrink: 0;
    border-radius: 4px;
    width: 120px;
    background-color:#ffffff;
    color: #5483C9;
    border: 1px solid #5483C9;
}

.btn:hover {
    color: white;
}

.btn:disabled {
    background-color: #9cc1f8;
}

.fw-normal {
    font-weight: normal;
    color: #333;
}

.fw-bold {
    font-weight: bold;
}
